@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Products";
}

<!-- web content display upper the directive to declare as diplayable content page, the related c# Model and the Name of the page-->


    <div class="text-center">
        <h4 class="display-4">START BLINKING</h4>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>




@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>