

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;

    .navbar-brand {
        white-space: normal;
        font-family: 'OpenSans', cursive;
        font-size: 1rem;
        text-align: center;
        word-break: break-all;
    }
}




.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

